<div class="container-fluid">
    <!--交易查询管理-历史交易明细 start-->
    <div class="row">
        <div class="col-md-12">
            <div class="widget box">
                <div class="widget-header"><h4><i class="icon-check"></i>查询条件录入</h4></div>
                <div class="widget-content">
                    <form class="form-horizontal row-border" id="agent_transationOnlineForm"
                          action=""
                          novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">交易流水号</label>
                                    <div class="col-md-8">
                                        <input type="text" name="seqId" id="" class="form-control" maxlength="50">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">交易日期</label>
                                    <div class="col-md-8">
                                        <div class="input-group date my_date">
                                            <input type="text" name="transTimeBegin" id="" class="form-control" maxlength="20">
                                            <span class="input-group-addon bg-green">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">---</label>
                                    <div class="col-md-8">
                                        <div class="input-group date my_date">
                                            <input type="text" name="transTimeEnd" id="" class="form-control"  maxlength="20">
                                            <span class="input-group-addon bg-green">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">商户名称</label>
                                    <div class="col-md-8">
                                        <input type="text" name="mercName" id="" class="form-control"  maxlength="100">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">金额范围</label>
                                    <div class="col-md-8">
                                        <input type="text" name="transAmtBegin" id="" class="form-control" maxlength="20">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">---</label>
                                    <div class="col-md-8">
                                        <input type="text" name="transAmtEnd" id="" class="form-control" maxlength="20">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">交易方式</label>
                                    <div class="col-md-8">
                                        <select name="transChannel" id="" class="form-control">
                                            <option value="">请选择</option>
                                            <option value="1">微信</option>
                                            <option value="2">支付宝</option>
                                            <option value="3">银联扫码</option>
                                            <option value="4">花呗</option>
                                            <option value="5">京东白条</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-actions">
                            <input type="button" value="清空筛选条件" class="btn btn-default pull-right" id="agent_online_empty">
                            <input type="button" value="查询" class="btn btn-success pull-right" id="agent_online_search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget box">
                <div class="widget-header">
                    <div class="col-md-4 no-padding"><h4><i class="icon-list"></i>线上交易查询</h4></div>
                    <div class="col-md-8 no-padding">
                        <div class="toolbar no-padding">
                            <!--<button class="btn btn-success pull-right" id="downHisbtn">Excel下载</button>-->
                        </div>
                    </div>
                </div>
                <div class="widget-content no-padding">
                    <table class="table table-striped table-hover table-bordered" id="agent_transationOnlineTable"
                           data-toggle="table" data-query-params="agent_transationOnlineSearch" style="table-layout:fixed;border-bottom: 1px solid #dddddd;"
                           data-url="../dealtotal/quick/list" data-pagination="true"
                           data-side-pagination="server" data-page-size="10"
                           data-pagination-first-text="First"
                           data-pagination-pre-text="上一页" data-pagination-next-text="下一页" data-pagination-loop="false"
                           data-pagination-last-text="Last" data-method="post">
                        <thead>
                        <tr>
                            <th data-width="250px" data-field="seqId" data-align="left">流水号</th>
                            <th data-width="70px" data-field="payResult" data-align="left">返回码</th>
                            <th data-width="180px" data-field="payDesc" data-align="left">返回信息</th>
                            <th data-width="180px" data-field="mercNo" data-align="left">商户号</th>
                            <th data-width="220px" data-field="mercName" data-align="left">商户名称</th>
                            <th data-width="120px" data-field="agentName" data-align="left">代理商名称</th>
                            <th data-width="140px" data-field="transChannel" data-align="left">交易方式</th>
                            <th data-width="120px" data-field="transAmt" data-align="left">交易金额(元)</th>
                            <th data-width="180px" data-field="createTime" data-align="left">交易时间</th>
                            <!--<th data-width="80px"  data-formatter="agentPaySearch" data-align="center">操作</th>-->
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--交易查询管理-历史交易明细 end-->
</div>
<div class="modal fade" id="pay_status_mol_ag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog sm-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                <h4 class="modal-title align-center">查询结果</h4>
            </div>

            <div class="modal-body">
                <div> <span>订单号码：</span> <span id="pay_order_ag"></span></div>
                <div> <span>支付状态：</span> <span id="pay_status_ag"></span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关&nbsp;&nbsp;闭</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="js/zd-manage/agent-transation-query-online.js"></script>
