<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>海贝帮助中心</title>
	<style type="text/css">
		*{
			margin: 0px;
			padding: 0px;
		}
		body,html{
			width: 100%;
			height: 100%;
			font-size: 12px;
			color: #666;
			box-sizing:border-box;
			-moz-box-sizing:border-box; /* Firefox */
			-webkit-box-sizing:border-box; /* Safari */
		}
		ul{
			list-style: none;
		}
		a{
			text-decoration: none;
			color: #000;
			outline: none;
		}
		.container{
			width: 100%;
			height: 100%;
			padding: 15px;
			overflow: auto;
			box-sizing:border-box;
			-moz-box-sizing:border-box; /* Firefox */
			-webkit-box-sizing:border-box; /* Safari */
		}
		.default-hide{
			display: none;
		}
		.sideList{
			font-size: 16px;
			line-height: 30px;
			font-weight: 800;
		}
	</style>
</head>
<body>

	<div class="container">
		<ul class="questionList">
			<li>
				<a href="javascript:void(0);" class="sideList">刷卡交易帮助</a>
				<div class="questionContent default-hide">
					<p>Q: 收到设备后是否可以立即使用？</p>
					<p>A: 可以。在收到设备后按照用户手册提示操作即可。</p><br/>
					 
					<p>Q: 使用设备会耗费上网流量吗？</p>
					<p>A: 交易时的数据量极小，使用一次的数据量约为8KB，因此您不用担心流量问题。</p><br/>
					 
					<p>Q: 设备支持哪些机型和系统？</p>
					<p>A: 安卓系统支持手机机型——包括三星、小米、联想、华为等搭载安卓系统平台的多种主流机型。 ios系统支持手机机型——包括iphone4s及以上机型，ios版本需高于或等于6.0版本。</p><br/>
					 
					<p>Q: 手机客户端提示检测不到刷卡设备怎么办？</p>
					<p>A: 首先确认是否已开启设备，设备的电量是否充足，如依然提示检测不到设备，则建议重新登录手机客户端。如果是通过音频连接，请查看手机音量是否调至最高以保持接口的敏感度最高。最终还是检测不到设备的话，请联系客服。</p><br/>

					<p>Q: 所有银行卡都可以使用吗？</p>
					<p>A: 目前接受符合银联标准的所有借记卡和信用卡，暂不支持不具有银联标识的银行卡或境外卡（包含港澳台）。</p><br/>
					 
					<p>Q: 交易完成以后多久能够资金到账？</p>
					<p>A: 根据目前银行的资金结算情况，到账时间为S+0或T+1，即到账时间为第一个工作日或第二个工作日到账（节假日顺延）。</p><br/>

					<p>Q: 刷磁条卡无法识别，是什么原因？</p>
					<p>A: 1、请从此卡顶端开始刷，不要从中间开始刷；<br/>
					    &nbsp;&nbsp;2、刷卡时稍向下用力，让卡尽量贴着卡槽底部划过，不要悬空而刷；<br/>
					    &nbsp;&nbsp;3、刷卡结束前不要翘起银行卡；<br/>
					    &nbsp;&nbsp;4、银行卡磁条表面附有杂质，请清除后重试；<br/>
					    &nbsp;&nbsp;5、请您确认是否是磁条卡本身的损坏。</p><br/>
					 
					<p>Q: 无法读取IC卡信息，怎么办？</p>
					<p>A: 1、请您检查IC卡插入的方向是否正确，应银行卡面朝上；<br/>
					     &nbsp;&nbsp;2、IC卡上的读卡金属触点表面负负有杂质，请清除后重试；<br/>
					     &nbsp;&nbsp;3、请您确认是否是IC卡本身的损坏。</p><br/>
					 
					<p>Q: 刷卡费率是怎样规定的？是否可以申请下调费率？</p>
					<p>A: 目前我们按照银联规定，根据用户的商户类别（MCC）与商户确定其具体的费率。按照相关规定，目前不支持下调费率的申请。</p><br/>
					 
					<p>Q: 交易完成后多久能够资金到账？</p>
					<p>A: 根据目前银行的资金结算情况和申请提现要求，到账时间为T+0或T+1到账，即提现的的第一个工作日或第二个工作日到账（节假日顺延）。</p><br/>
					 
					<p>Q: 对于用户在刷卡后签名有什么要求吗？</p>
					<p>A: 根据中国银联的要求，持卡人在刷卡后商户需仔细核对持卡人签名是否与卡片背面签名一致且签名字体务必规范清晰。如不按照要求进行操作，将会影响资金正常结算。</p><br/>
					 
					<p>Q: 交易明细在哪里查看?可以保存多久？</p>
					<p>A: 您可以在手机客户端的“账单”界面查询一个月内的交易明细。如需要更长时间的，请咨询客服。</p><br/>
					 
					<p>Q: 消费者不放心在设备上刷卡，该如何解释？</p>
					<p>A: 我们的设备严格按照行业标准，采用符合中国人民银行有关银行卡受理终端的安全规定的标准，通过多种加密机制确保持卡人及商户交易信息安全。同时，我们的交易状况均接受国家监管部门的监管。</p><br/>
				</div>
			</li>
			<li>
				<a href="javascript:void(0);" class="sideList">刷卡器使用问题</a>
				<div class="questionContent default-hide">
					<p>Q：收到设备后是否可以立即使用？</p>
					<p>A：可以。在收到设备后按照用户手册提示操作即可。</p><br/>
					 
					<p>Q：无法识别刷卡器怎么办？</p>
					<p>A：请检查您的刷卡器指示灯，若指示灯不亮，请充电。弱指示灯常亮，点击软件中的连接按钮还是无法识别，请尝试重新打开软件或重启手机。</p><br/>
					 
					<p>Q：没有WIFI网络是否可以使用？</p>
					<p>A：海贝金付软件支持WIFI、3G、4G和GPRS网络，只要确保以上任意一种网络连接通畅，即可使用海贝金付的各项服务。</p><br/>
					 
					<p>Q：刷卡时需要哪些技巧？为什么总是提示刷卡失败？</p>
					<p>A：首先要保证刷卡器的稳定，注意银行卡的朝向，卡与卡槽保持平衡并且顺着卡槽匀速划过；刷卡间隔不要过快，若遇到刷卡失败重新刷卡时，请稍微等待然后重新刷卡即可；刷卡时卡与卡槽不平衡或者刷卡过慢均可能导致刷卡失败。</p><br/>
					 
					<p>Q：海贝金付目前支持哪些银行卡？</p>
					<p>A：海贝目前接受带有银联标识的借记卡和信用卡，不具有银联标示的银行卡或者境外卡（包括港澳台）暂不支持；</p><br/>
					 
					<p>Q：刷卡器遗失了怎么办？</p>
					<p>A：遗失的刷卡器并不会泄露您的任何个人信息；您可以联系您的代理商，重新购买刷卡器，并联系我们为您重新绑定。</p><br/>
					 
					<p>Q：刷卡器有质量问题怎么办？</p>
					<p>A：当您的刷卡器遇到质量问题无法连接或者刷卡时，请联系您的代理商，为您更换新设备。</p><br/>
					 
					<p>Q：使用设备会消耗流量吗？</p>
					<p>A：交易时的数据量极小，使用一次的数据量约为8KB，因此您不用担心流量问题。</p><br/>
					 
					<p>Q：消费者不放心在设备上刷卡，改如何解释？</p>
					<p>A：我们的设备严格按照行业标准，采用符合中国人民银行有关银行卡受理终端的安全规定的标准，通过多种加密机制确保持卡人及商户交易信息安全。同时，我们的交易状况均接受国家监督部门的监管。</p><br/>
				</div>
			</li>
			
			<!-- <li>
				<a href="javascript:void(0);" class="sideList">Mpos交易规则</a>
				<div class="questionContent default-hide">
					<p>1、单卡单笔50000元，单卡单日交易5次（含失败交易），单卡单日10万；</p><br/>
					 
					<p>2、磁条借记卡单卡单笔1000元，单卡单日3000元；</p><br/>
					 
					<p>3、四要素规则：磁条贷记卡交易满5000元验证四要素，同卡四要素验证通过后的交易不需要再验四要素；</p><br/>
					 
					<p>4、提现规则：单日提现最高10万元；</p><br/>
					 
				</div>
			</li> -->
		</ul>
	</div>
	<script type="text/javascript">
		var oSideList = document.getElementsByClassName("sideList");
		for(var i = 0; i < oSideList.length; i++){
			oSideList[i].onclick = function(){
				var oParentNode = this.parentNode;
				var oQuestionContent = oParentNode.getElementsByClassName("questionContent")[0];
				questionClass = oQuestionContent.className;
				for(var j = 0; j < oSideList.length; j++){
					oSideList[j].parentNode.getElementsByClassName("questionContent")[0].className = "questionContent default-hide";
				}
				if(questionClass.match("default-hide")){
					oQuestionContent.className = "questionContent";
				}
				else{
					oQuestionContent.className = "questionContent default-hide";
				}
			}
		}
	</script>
</body>
</html>

