<script type="text/tmpl" id="optionTmplReview">
					<option data-code="{{id}}" data-value="{{name}}">{{name}}</option>
</script>
<script type="text/tmpl" id="cityTmplReview">
					<option data-code="{{code}}" data-father="{{father}}" >{{name}}</option>
</script>
<script type="text/tmpl" id="bankTmplReview">
					<option data-code="{{bankcode}}" data-shortcode="{{shortcode}}" data-value="{{showname}}" value="{{bankcode}}">{{showname}}</option>
</script>

<script type="text/temp" id="firstReviewTempReview">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group"><label class="col-md-1 control-label">审核意见</label>
                <div class="col-md-11">
                    <textarea type="text"  name="firstRreviewList[curIndex].advice" style="resize: none" rows="5" class="form-control required url" readonly="readonly"></textarea>
                </div>
            </div>
        </div>
    </div>
</script>
<div class="container-fluid">
    <form class="form-horizontal row-border" method="post" role="form" id="customer-normal-form-review">

        <!--{{!第一个widget box 商户基本信息，注：此类为handlebars特有注释，勿动}}-->
        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-role-list-small"></i>
                    商户基本信息
                </h4>
            </div>

            <div class="widget-content">
                <div class="row">


                    <div class="col-md-3">
                        <div class="form-group"><label class="col-md-4 control-label">所属代理商<span class="required">*</span></label>

                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="" name="customer.agentName" readonly>
                                    <input type="hidden" class="form-control" id="" name="customer.agentId" readonly>
                                    <span class="input-group-addon btn bg-green">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </span>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"><label class="col-md-4 control-label">商户名称<span
                                class="required">*</span></label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" name="customer.mercName" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">身份证号码<span class="required">*</span></label>

                            <div class="col-md-8">
                                <input type="text" name="customer.idCard" class="form-control" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">手机号<span class="required">*</span></label>

                            <div class="col-md-8">
                                <input type="text" name="customer.mobile" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--{{!第二个widget box 商户附加信息}}-->

        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-role-list-small"></i>
                    商户附加信息
                </h4>
            </div>
            <div class="widget-content" style="padding-top:15px;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group"><label class="col-md-4 control-label">商户所属行业<span class="required">*</span></label>

                            <div class="col-md-8">
                                <select name="customer.industry" id="N_V_HangYe_Top" class="form-control required" readonly="readonly">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"><label class="col-md-4 control-label">商户类别(MCC)<span class="required">*</span></label>
                            <div class="col-md-8">
                                <select name="customer.mcc" id="N_V_HangYe_Mcc" class="form-control required" readonly="readonly">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">商户所属地址<span class="required">*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="customer.address" class="form-control"  readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hideLoop">
                    <div class="col-md-3">
                        <div class="form-group"><label class="col-md-4 control-label">商户经营地址<span
                                class="required">*</span></label>
                            <div class="col-md-8">
                                <select name="customer.peovinceId" id="N_V_province" class="form-control required" readonly="readonly">
                                  
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-1 control-label"></label>
                            <div class="col-md-11">
                                <select name="customer.cityId" id="N_V_city" class="form-control required" readonly="readonly">
                                   
                                </select>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-1 control-label"></label>
                            <div class="col-md-11">
                                <select name="customer.areaCode" id="N_V_area" class="form-control required" readonly="readonly">
                                  
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-1 control-label"></label>
                            <div class="col-md-11">
                                <input type="text" name="customer.businessAddress" class="form-control" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group"><label class="col-md-4 control-label">结算开户行名称<span
                                class="required">*</span></label>

                            <div class="col-md-8">
                                <select id="merchantNewBankId" class="form-control required" readonly="readonly" name="customer.bankId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">开户支行名称<span class="required">*</span></label>

                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" name="customer.branchbankName"
                                           class="form-control required" readonly="readonly"/>
                                    <input type="hidden" id="merchantNewBranchbankId" name="customer.branchbankId"
                                           class="form-control"/>
                                                    <span class="input-group-addon bg-green btn" data-toggle="modal" style="cursor: not-allowed;"><span
                                                            class="glyphicon glyphicon-search"></span></span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"><label class="col-md-4 control-label">结算账户名称<span
                                class="required">*</span></label>
                            <div class="col-md-8">
                                <input type="text" name="customer.accountName" class="form-control" readonly="readonly">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group"><label class="col-md-4 control-label">结算账户账号<span
                                class="required">*</span></label>
                            <div class="col-md-8">
                                <input type="text" name="customer.accountNo" class="form-control" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        商户资质附件
                    </div>
                    <div class="col-md-2">
                        <div class="upImgs" data-showmodal="N_V_review-showImg-madal" data-readonly="true">
                            <div class="main-div">
                                <a id="MV-acc-del-1" class="del-btu del-normal" href="javascript:void(0);"></a>
                                <a id="MV-acc-show-1" class="show-btu show-normal" href="javascript:void(0);"></a>

                                <div>
                                    <img src="../imgs/upload-bg.gif" width="180" height="156" class="ImgPr image"
                                         style="height: 154px !important;">
                                </div>
                                <input type="file" id="MV-upload-file-1" class="file image-input">
                                <input type="button" id="MV-acc-upload-1" class="showbtu" value="上传">
                                <input type="button" id="MV-acc-download-1" class="downloadbtn" value="下载">
                                <input type="hidden" name="imgs[0].type" value="1">
                                <input type="hidden" name="imgs[0].url" class="fileUrl" value="">

                                <div style=" width:100%;height: 6px; position: absolute;bottom: 29px; display: none;">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 0%"></div>
                                    </div>
                                </div>
                            </div>
                            <span class="certificate-picture">法人证件正面照</span>
                        </div>

                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="upImgs" data-showmodal="N_V_review-showImg-madal" data-readonly="true">
                            <div class="main-div">
                                <a id="MV-acc-del-2" class="del-btu del-normal" href="javascript:void(0);"></a>
                                <a id="MV-acc-show-2" class="show-btu show-normal" href="javascript:void(0);"></a>

                                <div>
                                    <img src="../imgs/upload-bg.gif" width="180" height="156" class="ImgPr image"
                                         style="height: 154px !important;">
                                </div>
                                <input type="file" id="MV-upload-file-2" class="file image-input">
                                <input type="button" id="MV-acc-upload-2" class="showbtu" value="上传">
                                <input type="button" id="MV-acc-download-2" class="downloadbtn" value="下载">
                                <input type="hidden" name="imgs[1].type" value="2">
                                <input type="hidden" name="imgs[1].url" class="fileUrl" value="">

                                <div style=" width:100%;height: 6px; position: absolute;bottom: 29px; display: none;">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 0%"></div>
                                    </div>
                                </div>
                            </div>
                            <span class="certificate-picture">法人证件背面照</span>
                        </div>
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="upImgs" data-showmodal="N_V_review-showImg-madal" data-readonly="true">
                            <div class="main-div">
                                <a id="MV-acc-del-3" class="del-btu del-normal" href="javascript:void(0);"></a>
                                <a id="MV-acc-show-3" class="show-btu show-normal" href="javascript:void(0);"></a>

                                <div>
                                    <img src="../imgs/upload-bg.gif" width="180" height="156" class="ImgPr image"
                                         style="height: 154px !important;">
                                </div>
                                <input type="file" id="MV-upload-file-3" class="file image-input">
                                <input type="button" id="MV-acc-upload-3" class="showbtu" value="上传">
                                <input type="button" id="MV-acc-download-3" class="downloadbtn" value="下载">
                                <input type="hidden" name="imgs[2].type" value="3">
                                <input type="hidden" name="imgs[2].url" class="fileUrl" value="">

                                <div style=" width:100%;height: 6px; position: absolute;bottom: 29px; display: none;">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 0%"></div>
                                    </div>
                                </div>
                            </div>
                            <span class="certificate-picture">银行卡正面</span>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="upImgs" data-showmodal="N_V_review-showImg-madal" data-readonly="true">
                            <div class="main-div">
                                <a id="MV-acc-del-4" class="del-btu del-normal" href="javascript:void(0);"></a>
                                <a id="MV-acc-show-4" class="show-btu show-normal" href="javascript:void(0);"></a>

                                <div>
                                    <img src="../imgs/upload-bg.gif" width="180" height="156" class="ImgPr image"
                                         style="height: 154px !important;">
                                </div>
                                <input type="file" id="MV-upload-file-4" class="file image-input">
                                <input type="button" id="MV-acc-upload-4" class="showbtu" value="上传">
                                <input type="button" id="MV-acc-download-4" class="downloadbtn" value="下载">
                                <input type="hidden" name="imgs[3].type" value="4">
                                <input type="hidden" name="imgs[3].url" class="fileUrl" value="">

                                <div style=" width:100%;height: 6px; position: absolute;bottom: 29px; display: none;">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 0%"></div>
                                    </div>
                                </div>
                            </div>
                            <span class="certificate-picture">银行卡反面</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="upImgs" data-showmodal="N_V_review-showImg-madal" data-readonly="true">
                            <div class="main-div">
                                <a id="MV-acc-del-5" class="del-btu del-normal" href="javascript:void(0);"></a>
                                <a id="MV-acc-show-5" class="show-btu show-normal" href="javascript:void(0);"></a>

                                <div>
                                    <img src="../imgs/upload-bg.gif" width="180" height="156" class="ImgPr image"
                                         style="height: 154px !important;">
                                </div>
                                <input type="file" id="MV-upload-file-5" class="file image-input">
                                <input type="button" id="MV-acc-upload-5" class="showbtu" value="上传">
                                <input type="button" id="MV-acc-download-5" class="downloadbtn" value="下载">
                                <input type="hidden" name="imgs[4].type" value="5">
                                <input type="hidden" name="imgs[4].url" class="fileUrl" value="">

                                <div style=" width:100%;height: 6px; position: absolute;bottom: 29px; display: none;">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 0%"></div>
                                    </div>
                                </div>
                            </div>
                            <span class="certificate-picture">法人手持身份证正面照片</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--{{!第三个widget box 刷卡成本信息}}-->

        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-role-list-small"></i>
                    刷卡成本信息
                </h4>
            </div>

            <div class="widget-content">
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group"><label class="col-md-4 control-label">借记卡手续费<span
                                class="required">*</span></label>

                            <div class="col-md-8">
                                <div class="input-group">
                                    <!--{{#if swingCardDebitRate}}
                                    <input type="text" class="form-control" name="customer.swingCardDebitRate"
                                           placeholder="{{swingCardDebitRate}}">
                                    {{else}}-->
                                    <input type="text" class="form-control" name="customer.swingCardDebitRate" readonly="readonly">
                                    <!--{{/if}}-->
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"><label class="col-md-4 control-label">贷记卡手续费<span
                                class="required">*</span></label>

                            <div class="col-md-8">
                                <div class="input-group">
                                    <!-- {{#if swingCardCreditRate}}
                                     <input type="text" class="form-control" name="customer.swingCardCreditRate"
                                            placeholder="{{swingCardCreditRate}}">
                                     {{else}}-->
                                    <input type="text" class="form-control" name="customer.swingCardCreditRate" readonly="readonly">
                                    <!--{{/if}}-->
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"><label class="col-md-4 control-label">交易结算手续费<span
                                class="required">*</span></label>

                            <div class="col-md-8">
                                <div class="input-group">
                                    <!-- {{#if swingCardSettleFee}}
                                     <input type="text" class="form-control" name="customer.swingCardSettleFee"
                                            placeholder="{{swingCardSettleFee}}">
                                     {{else}}-->
                                    <input type="text" class="form-control" name="customer.swingCardSettleFee" readonly="readonly">
                                    <!--{{/if}}-->
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--{{!第四个widget box 无卡成本信息（借贷记一致）}}-->

        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-role-list-small"></i>
                    无卡成本信息（借贷记一致）
                </h4>
            </div>

            <div class="widget-content">
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">无卡手续费<span class="required">*</span></label>

                            <div class="col-md-8">
                                <div class="input-group">
                                    <!--{{#if nonCardCreditRate}}
                                    <input type="text" class="form-control noCard_One" name="customer.nonCardCreditRate" placeholder="{{nonCardCreditRate}}">
                                    {{else}}-->
                                    <input type="text" class="form-control noCard_One" name="customer.nonCardCreditRate" readonly="readonly">
                                    <!--{{/if}}-->
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--{{!第二个无卡手续费，已被隐藏}}-->
                    <div class="col-md-3 hide">
                        <div class="form-group">
                            <label class="col-md-4 control-label">无卡手续费2<span class="required">*</span></label>

                            <div class="col-md-8">
                                <div class="input-group">
                                    <!--{{#if nonCardDebitRate}}
                                    <input type="text" class="form-control noCard_Copy" name="customer.nonCardDebitRate"
                                           placeholder="{{nonCardDebitRate}}">
                                    {{else}}-->
                                    <input type="text" class="form-control noCard_Copy" name="customer.nonCardDebitRate" readonly="readonly">
                                    <!--{{/if}}-->
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--{{!第五个widget box 传统POS成本信息（借记卡封顶费率及成本与手刷相同）}}-->

        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-role-list-small"></i>
                    传统POS成本信息
                </h4>
            </div>

            <div class="widget-content">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">借记卡手续费<span class="required">*</span></label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <!--  {{#if posDebitRate}}
                                      <input type="text" name="customer.posDebitRate" class="form-control"
                                             placeholder="{{posDebitRate}}">
                                      {{else}}-->
                                    <input type="text" name="customer.posDebitRate" class="form-control" readonly="readonly">
                                    <!--{{/if}}-->
                                    <span class="input-group-addon">%</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">贷记卡手续费<span class="required">*</span></label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <!-- {{#if posCreditRate}}
                                     <input type="text" class="form-control" name="customer.posCreditRate"
                                            placeholder="{{posCreditRate}}">
                                     {{else}}-->
                                    <input type="text" class="form-control" name="customer.posCreditRate" readonly="readonly">
                                    <!--{{/if}}-->
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"><label class="col-md-4 control-label">交易结算手续费<span
                                class="required">*</span></label>

                            <div class="col-md-8">
                                <div class="input-group">
                                    <!--{{#if posSettleFee}}
                                    <input type="text" class="form-control" name="customer.posSettleFee"
                                           placeholder="{{posSettleFee}}">
                                    {{else}}-->
                                    <input type="text" class="form-control" name="customer.posSettleFee" readonly="readonly">
                                    <!--{{/if}}-->
                                    <span class="input-group-addon">元</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--{{!第六个widget box 扫码成本信息（借贷记一致）}}-->

        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-role-list-small"></i>
                    扫码成本信息（借贷记一致）
                </h4>
            </div>

            <div class="widget-content">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">微信手续费<span class="required">*</span></label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <!--{{#if scanCodeWxRate}}-->
                                    <!--<input type="text" name="customer.scanCodeWxRate" class="form-control"-->
                                    <!--placeholder="{{scanCodeWxRate}}">-->
                                    <!--{{else}}-->
                                    <input type="text" name="customer.scanCodeWxRate" class="form-control" readonly="readonly">
                                    <!--{{/if}}-->
                                    <span class="input-group-addon">%</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">支付宝手续费<span class="required">*</span></label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <!-- {{#if scanCodeZfbRate}}
                                     <input type="text" name="customer.scanCodeZfbRate" class="form-control"
                                            placeholder="{{scanCodeZfbRate}}">
                                     {{else}}-->
                                    <input type="text" name="customer.scanCodeZfbRate" class="form-control" readonly="readonly">
                                    <!--{{/if}}-->

                                    <span class="input-group-addon">%</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-md-4 control-label">银联扫码手续费<span class="required">*</span></label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <!-- {{#if scanCodeYlRate}}
                                     <input type="text" class="form-control" name="customer.scanCodeYlRate"
                                            placeholder="{{scanCodeYlRate}}">
    
                                     {{else}}-->
                                    <input type="text" class="form-control" name="customer.scanCodeYlRate" readonly="readonly">
                                    <!--{{/if}}-->
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--{{!最后一个weideg box table表格 不做表单验证}}-->


            <div class="widget box">
                <div class="widget-header">
                    <div class="col-md-4 no-padding"><h4><i class="icon-list"></i>手机商户设备表</h4></div>
                    <div class="col-md-8 no-padding">

                    </div>
                </div>
                <div class="widget-content no-padding">
                    <table data-toggle="table" id="edit-device-list"
                           class="table table-striped table-checkable table-hover table-bordered"
                           data-query-params="deviceListQuery"
                           data-url="/customer/loadCustomerDevice.json"
                           data-method="post">

                        <thead>
                        <tr>
                            <th data-field="" data-align="center"
                                data-checkbox="true"><input type="checkbox" data-toggle="checkbox" class="uniform"/>
                            </th>
                            <th data-field="deviceNo" data-align="left">机身号</th>
                            <th data-field="createTime" data-align="left">创建时间</th>
                            <th data-field="isFirst" data-align="left" data-formatter="firstSelectUpdate">首选项</th>
                            <th data-field="typeName" data-align="left">设备类型</th>
                            <th data-field="modeName" data-align="left">设备名称</th>
                        </tr>
                        </thead>
                    </table>
        
                </div>
            </div>
    </form>
</div>


<!-- 图片预览模态框 -->
<div class="modal fade" id="N_V_review-showImg-madal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title align-center imgTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="modal-pic-review">
                    <img src="" width="100%" height="100%" style="width: 500px;height: 500px;">
                    <input type="button" class="rotateImg" placeholder="顺时针旋转90°" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关&nbsp;&nbsp;闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript" src="js/oss/upLoadFileUI.js">

</script>

<script>

     //获取当前页面的参数
     var review_args = UTIL.readUrlData({"currentUrl" : "merchant-mposinfo-review.html"});
     var review_mercNo = review_args["mercNo"];
     var review_agentId = review_args["agentId"];

     var current_taskId=review_args["taskId"];
     var $mechantCsFormReview=$("#customer-normal-form-review");

     var city_code=null;
     var area=null;
     var area2=null;
     var area_code=null;
     var custom_Mcc=null;
     var custom_industry=null;//商户所属行业-top
     var custom_mcc=null;//商户所属行业mcc
     var bank_bankId=null;//结算开户行名称
     var bank_branchbankName=null;//开户支行名称

     // 页面加载的时候先把城市和区填完整
     $.ajax({
         type:'get',
         url:"/customer/find/"+review_mercNo+".json",
         async: false,
         success:function(res){

             city_code=res.customer.peovinceId;
             area=res.customer.cityId;
             area2=res.customer.areaCode;

             custom_industry=res.customer.industry;
             custom_mcc=res.customer.mcc;
             bank_bankId=res.customer.bankId;
             bank_branchbankName=res.customer.branchbankName;
         }
     });

     //手机商户设备表  ---首选项
     function firstSelectUpdate(index,row,value) {

         if (value == "0") {
             return "是"
         } else {
             return "否"
         }
     }
     //初始化开户总行名称列表
     $.ajax({
         url : "/system/bank/loadAllBank",
         method : 'post',
         async : false,
         success : function(res) {
             var $selectBankListReview = $mechantCsFormReview.find('select').filter(
                     function() {
                         return ($(this).attr('id') || '').toLowerCase().indexOf('bankid') >= 0;
                     });
             $selectBankListReview.empty();
             $selectBankListReview.each(function(index) {
                 for (var i = 0; i < res.length; i++) {
                     var str = $("#bankTmplReview").html();
                     $(this).append(str.replace(/\{\{code\}\}/g, res[i].bankcode).replace(/\{\{bankcode\}\}/g, res[i].bankcode).replace(/\{\{shortcode\}\}/g, res[i].shortcode).replace(/\{\{showname\}\}/g, res[i].showname));
                 }
                 // changeBank($(this));
                 $(this).change(function() {
                     var $that = $(this);
                     changeBank($that);
                 });
             });
         },
         error : function(xhr, textStatus, errorThrown) {
             // alert("亲，初始化开户总行名称列表出错，请联系管理员！");
             UTIL.clickDisappearSwal("亲，初始化开户总行名称列表出错，请联系管理员！");
         }
     });
     // 手机商户设备列表参数
     function deviceListQuery(argms) {
         argms.mercNo = review_mercNo || "";
         return argms;
     };

     // 手机商户设备列表参数
    function csDeviceListQuery(argms){
        argms.mercNo = review_mercNo|| "";
        return argms;
    };


     $('[data-toggle="table"]').bootstrapTable();



     //------------------------------------------------------初始化商户所属行业
     $.ajax({
         url:"/system/mcc/loadData/0",
         type:"get",
         async:false,
         dataType:"json",
         success:function(res){
             var str="";
             $.each(res,function(i,v){
                 str+=('<option value ='+res[i].id+'>'+res[i].name+'</option>');
             })
             $("#N_V_HangYe_Top").empty();
             $("#N_V_HangYe_Top").append(str);
         }
     });
     $("#N_V_HangYe_Top").val(custom_industry);

     $.ajax({
         url:"/system/mcc/loadData/"+custom_industry,
         type:"get",
         async:false,
         dataType:"json",
         success:function(res){
             var str="";
             $.each(res,function(i,v){
                 str+=('<option value ='+res[i].id+'>'+res[i].name+'</option>');
             });
             $("#N_V_HangYe_Mcc").empty();
             $("#N_V_HangYe_Mcc").append(str);
         }
     });
     $("#N_V_HangYe_Mcc").val(custom_mcc);


     //-----------------------------------------此处不要改-----页面加载默先加载省，三级联动start

     $.ajax({
         url: "/system/address/loadAllData/0/0",
         method: 'post',
         data:"{'type':0,'code':0}",
         success: function (res) {

             $.each(res,function (i,n){

                 if(res[i].code == city_code){
                     $('#N_V_province').empty();
                     $('#N_V_province').append('<option value ='+res[i].code+'>'+res[i].name+'</option>');
                 }
             });

         },
         error: function (xhr, textStatus, errorThrown) {
             alert("亲，初始化省列表出错，请联系管理员！");
         }
     });


     $.ajax({
         url:'/system/address/loadAllData/'+1+'/'+city_code,
         method: 'post',
         data:"{'type':0,'code':0}",
         success: function (res) {
             var op='';
             $.each(res,function (i,n){
                 if(res[i].code == area){
                     $('#N_V_city').empty();
                     $('#N_V_city').append('<option value ='+res[i].code+'>'+res[i].name+'</option>');
                 }
             })

         },
         error: function (xhr, textStatus, errorThrown) {
             alert("亲，初始化省列表出错，请联系管理员！");
         }
     });

     $.ajax({
         url:  '/system/address/loadAllData/'+2+'/'+area,
         method: 'post',
         data:"{'type':0,'code':0}",
         success: function (res) {

             var op='';
             $.each(res,function (i,n){
                 if(res[i].code==area2){
                     $('#N_V_area').empty();
                     $('#N_V_area').append('<option value ='+res[i].code+'>'+res[i].name+'</option>');
                 }
             })

         },
         error: function (xhr, textStatus,
                          errorThrown) {
             alert("亲，初始化省列表出错，请联系管理员！");
         }
     });


     // 回显更新页面的数据
     $.ajax({
         type:'get',
         url:"/customer/find/"+review_mercNo+".json",
         async:false,
         success:function(res){
             $("#customer-normal-form-review").json2form(res);
             //遍历拿取图片
             $("#customer-normal-form-review .upImgs").each(function () {
                 $(this).uploadPreview();
             });
         }
     });


     // 旋转图片
     $("#N_V_review-showImg-madal .rotateImg").click(function(){
         ROTATEIMGFLAG = (++ROTATEIMGFLAG) % 4;
         $(this).siblings('img').css({'transform': 'rotate(' + ROTATEIMGFLAG*90 + 'deg)'});
     })
</script>