
<link href="css/system-organization-manage/ztree/css/extendStyle/metro.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/system-organization-manage/system-organization-manage.css">
<div class="row marginTop--18px">
    <div class="col-md-6 col-lg-4 role-aside" >
        <ul class="ztree" id="treeDemo-role">
            <!--角色组织机构树-->
        </ul>
    </div>

    
    <div class="col-md-6 col-lg-8" id="role-box">
        <div class="row" id="roleHandleTable" style="padding-right: 20px;padding-left:5px;padding-top:5px">
            <!--table界面-->
        </div>
        <div style="display: none;padding-right: 20px;padding-left:5px;padding-top:20px" id="roleHandle">
            <!--编辑新建操作界面-->
        </div>
    </div>
    <!--end-->
</div>

<script type="text/javascript" src="js/ztree/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="js/ztree/jquery.ztree.excheck.min.js"></script>
<script type="text/javascript" src="js/ztree/jquery.ztree.exedit.min.js"></script>
<script type="text/javascript" src="css/system-organization-manage/role-manage.js"></script>


